[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
tensorflow = "==2.1.0"
scipy = "*"
tqdm = "*"
soundfile = "*"
wandb = "*"

[requires]
python_version = "3.8"
